.main-section{
    background: linear-gradient(90deg, black, blue);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 50%;
    border-radius: 20px;
}
.display{
    padding: 50px;
    border: none;
    color: white;
    width: 60%;
    border-radius: 20px;
    background: linear-gradient(90deg, black, blue);
    margin: 50px auto;
    text-align: center;
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
}
.btn-container button{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    border: none;
    font-size: 25px;
}
.btn-container button:hover{
    background-color: black;
    color: white;
}